* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 13px;
	color: hsl(0, 0%, 100%);
	font-family: 'Barlow Semi Condensed', sans-serif;
	font: 500;
}

.body {
	background: hsl(210, 46%, 95%);
	padding: 20% 7.5%;
	display: grid;
	gap: 25px;
}

.block {
	border-radius: 10px;
	padding: 20px;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 3px 9px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 2px 3px 9px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 3px 9px 0px rgba(0, 0, 0, 0.2);
}

.block:first-child {
	background: hsl(263, 55%, 52%);
	background-image: url(images/bg-pattern-quotation.svg);
	background-repeat: no-repeat;
	background-position: 90% top;
}

.block:nth-child(2) {
	background: hsl(217, 19%, 35%);
}

.block:nth-child(3) {
	background: hsl(0, 0%, 100%);
	color: hsl(219, 29%, 14%);
}

.block:nth-child(4) {
	background: hsl(219, 29%, 14%);
}

.block:nth-child(5) {
	background: hsl(0, 0%, 100%);
	color: hsl(219, 29%, 14%);
}

.block_image {
	float: left;
	border-radius: 50%;
	margin-right: 20px;
	width: 30px;
	border: solid 2px rgba(255, 255, 255, 0.596);
}

.block_name {
	font-weight: 500;
}

div,
h3 {
	padding-bottom: 20px;
}

.block_title {
	line-height: 23px;
	font-size: 20px;
	letter-spacing: 1px;
}

.block_state,
.block_history {
	opacity: 50%;
}

.block_history {
	line-height: 20px;
}

.block_color {
	color: hsl(219, 29%, 14%);
}

@media screen and (min-width: 600px) {
	.body {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: 49% 46%;
		grid-template-areas:
			'Daniel Daniel Jonathan Kira'
			'Jeanette Patrick Patrick Kira';
		padding: 10% 10%;
		height: 90%;
		gap: 24px;
		width: 100%;
	}
	.block {
		height: 100%;
		line-height: 1.1rem;
	}
	.block:first-child {
		grid-area: Daniel;
	}

	.block:nth-child(2) {
		grid-area: Jonathan;
	}

	.block:nth-child(3) {
		grid-area: Jeanette;
	}

	.block:nth-child(4) {
		grid-area: Patrick;
	}

	.block:nth-child(5) {
		grid-area: Kira;
		line-height: 1.3rem;
	}
}
